.desktop-1-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray);
  width: 361px;
  height: 100vh;
}
.drillie-10 {
  position: absolute;
  top: 39px;
  left: 754px;
  font-size: 68px;
}
.desktop-1-item {
  position: absolute;
  top: 113px;
  left: 470px;
  border-top: 2px solid var(--color-gray);
  box-sizing: border-box;
  width: 844px;
  height: 2px;
}
.chat-history {
  position: absolute;
  top: 51px;
  left: 67px;
  font-size: 42px;
  color: var(--color-cornsilk);
}
.desktop-1-inner,
.rectangle-div {
  position: absolute;
  top: 110px;
  left: 39px;
  width: 282.01px;
  height: 4px;
}
.rectangle-div {
  top: 884px;
  left: 454px;
  border-radius: 42px;
  background-color: #fff;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 791px;
  height: 84px;
}
.enter-your-query {
  position: absolute;
  top: 908px;
  left: 507px;
  font-size: 32px;
  color: var(--color-dimgray);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.hello {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.hello-wrapper {
  position: absolute;
  top: 220px;
  left: 1285px;
  border-radius: var(--br-21xl) var(--br-21xl) 0 var(--br-21xl);
  background-color: var(--color-cornsilk);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 103px;
  height: 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  text-align: right;
}
.hello-how-can {
  margin-block-start: 0;
  margin-block-end: 1.5px;
}
.help-you {
  margin: 0;
}
.hello-how-can-container {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 36px;
}
.hello-how-can-i-help-you-wrapper,
.what-is-mining-wrapper {
  background-color: var(--color-cornsilk);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.hello-how-can-i-help-you-wrapper {
  position: absolute;
  top: 301px;
  left: 408px;
  border-radius: var(--br-21xl) var(--br-21xl) var(--br-21xl) 0;
  width: 312px;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.what-is-mining-wrapper {
  top: 379px;
  left: 1162px;
  border-radius: var(--br-21xl) var(--br-21xl) 0 var(--br-21xl);
  width: 245px;
  height: 69px;
}
.mining-is-the-extraction-of-va-wrapper,
.summarise-wrapper,
.what-is-mining-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.mining-is-the-extraction-of-va-wrapper {
  top: 538px;
  left: 408px;
  border-radius: var(--br-21xl) var(--br-21xl) var(--br-21xl) 0;
  background-color: var(--color-cornsilk);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 785px;
  height: 270px;
}
.summarise-wrapper {
  top: 627px;
  left: 1216px;
  border-radius: 35px;
  background-color: var(--color-dimgray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  color: var(--color-gainsboro);
}
.submit-1-icon {
  position: absolute;
  top: 892px;
  left: 1263px;
  width: 74.05px;
  height: 67px;
  object-fit: cover;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray);
  font-family: var(--font-garamond);
}
